<form [formGroup]="loginForm">
    <fieldset>
        <legend>Inicio de Sesión</legend>
        <div class="form-field">
            <label>Correo:</label>
            <input name="correo_electronico" formControlName="correo_electronico">
        </div>
        <div class="form-field">
            <label>Contraseña:</label>
            <input name="password" formControlName="password" type="password">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" (click)="iniciarSesion()">Login</button>
    </div>
</form>